
# fnm
{{ if eq .chezmoi.os "darwin" }}
set FNM_PATH "~/Library/Application Support/fnm"
{{ else if eq .chezmoi.os "linux" }}
set FNN_PATH "~/.local/share/fnm"
{{ end }}
if [ -d "$FNM_PATH" ]
  set PATH "$FNM_PATH" $PATH
  fnm env | source
end
